appdirs
click
decorator
flake8
Flask
ipython
ipython-genutils
itsdangerous
Jinja2
MarkupSafe
mccabe
packaging
pexpect
pickleshare
prompt-toolkit
ptyprocess
pycodestyle
pyflakes
Pygments
pyparsing
simplegeneric
six
traitlets
wcwidth
Werkzeug
