appdirs
click
decorator
flake8
Flask
ipython
ipython-genutils
itsdangerous
Jinja2
MarkupSafe
mccabe
MongoNorm
packaging
pexpect
pickleshare
prompt-toolkit
ptyprocess
py
pycodestyle
pyflakes
Pygments
pymongo
pyparsing
pytest
pytest-flask
simplegeneric
six
traitlets
wcwidth
Werkzeug
